<!DOCTYPE html>
<html>
<head>
  <style>
          body {
        background-color: lightblue;
      }
    .location-table {
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
    }
  
    .location-table th, .location-table td {
      text-align: left;
      padding: 8px;
      border: 1px solid #ddd;
    }
  
    .location-table th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
  
    .location-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
    <meta charset="utf-8" />
    <title>Leaflet Map Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>    
</head>
<body>
  <h2>Location of McDonalds by City:</h2>
    <table id="locationTable" class="location-table">
      <thead>
        <tr>
          <th>City</th>
          <th>Number of Locations</th>
        </tr>
      </thead>
      <tbody>
  <input type="file" id="fileInput">
    <div id="map" style="height: 500px;"></div>
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
</body>
</html>