<!doctype html>
<html>
  <head>
    <title>My incredible web site.</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">McDonalds in Texas Census Tracts</a>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">There are {{ "{:,}".format(mcD_sum) }} McDonalds in Texas Census Tracts.</h1>
          <p class="lead">It's pretty cool.</p>
        </div>
      </div>
      <div class="container">
        <p>I'm amazed and frankly you should be, too.</p>
        {% for tract in mcD_count %}
          {% if tract.CountMcD and tract.CountMcD > 0 %}
            <p><a href="/tracts/{{ tract.CensusTract }}">{{ tract.CensusTract }}</a></p>
          {% endif %}
        {% endfor %}
      </div>
  </body>
</html>